body {
    padding:0;
    margin:0;
   }

.mainDiv {
  width: 100%;
  height: 100%;
}

.leftSection {
  float: left;
  width: 56.25%;
  height: 100%;
}

.rightSection {
  float: right;
  width: 43.75%;
}
.leftSection img {
  width: 100%;
  height: 100%;
}
.rightSection img {
  width: 100%;
}
.left {
  float: left;
  width: 50%;
}
.right {
  float: right;
  width: 50%;
}


.top img {
   width: 100%;

}

.left img {
   width: 100%;
}

.right img {
   width: 100%;
}

.layer1 {
  display: none;
}
.layer2 {
  display: none;
}
.layer3 {
  display: none;
}
.layer4 {
  display: none;
}
.layer1_horiz {
  display: none;
}
.layer2_horiz {
  display: none;
}
.layer3_horiz {
  display: none;
}
.layer4_horiz {
  display: none;
}
